[Unit]
Description=ModLogMirror Reddit Bot
StartLimitIntervalSec=600
StartLimitBurst=5

[Service]
WorkingDirectory=/home/kole/git/ModLogMirror/ModLogMirror/
ExecStart=/home/kole/git/ModLogMirror/ModLogMirror/Install/ServiceScripts/StartServiceModLogMirror.sh
Restart=always
RestartSec=60
SyslogIdentifier=modlogmirror-reddit
User=kole

[Install]
WantedBy=multi-user.target
